/* css variables */
:root {
  --clr-primary-0: hsl(31, 77%, 52%);
  --clr-primary-1: hsl(184, 100%, 22%);
  --clr-primary-2: hsl(179, 100%, 13%);
  --clr-neutral-0: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-1: hsl(0, 0%, 95%);

  --fs-body: 0.9375rem;
  --fw-700: 700;
  --ff-big-shoulders-display: "Big Shoulders Display", cursive;
  --ff-lexend-deca: "Lexend Deca", sans-serif;

  /* fluid typography from https://utopia.fyi/ */
  --step--2: clamp(0.65rem, calc(0.6rem + 0.22vw), 0.8rem);
  --step--1: clamp(0.78rem, calc(0.7rem + 0.33vw), 1rem);
  --step-0: clamp(0.94rem, calc(0.83rem + 0.47vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.97rem + 0.66vw), 1.56rem);
  --step-2: clamp(1.35rem, calc(1.14rem + 0.91vw), 1.95rem);
  --step-3: clamp(1.62rem, calc(1.33rem + 1.23vw), 2.44rem);
  --step-4: clamp(1.94rem, calc(1.55rem + 1.66vw), 3.05rem);
  --step-5: clamp(2.33rem, calc(1.81rem + 2.23vw), 3.82rem);

  /* fluid spacing https://utopia.fyi/ */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.19vw), 0.63rem);
  --space-xs: clamp(0.69rem, calc(0.6rem + 0.38vw), 0.94rem);
  --space-s: clamp(0.94rem, calc(0.83rem + 0.47vw), 1.25rem);
  --space-m: clamp(1.44rem, calc(1.28rem + 0.66vw), 1.88rem);
  --space-l: clamp(1.88rem, calc(1.65rem + 0.94vw), 2.5rem);
  --space-xl: clamp(2.81rem, calc(2.48rem + 1.41vw), 3.75rem);
  --space-2xl: clamp(3.75rem, calc(3.31rem + 1.88vw), 5rem);
  --space-3xl: clamp(5.63rem, calc(4.96rem + 2.82vw), 7.5rem);
}

/* reset */
/* Box sizing rules */
*,
*:before,
*::after {
  box-sizing: border-box;
}

/* Remove defaut margin and padding */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/* Remove list styles on ul, ol elements* with class */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* sometimes referred to as .sr-only */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* general styles */
body {
  font: var(--fs-body) var(--ff-lexend-deca);
  display: grid;
  place-content: center;
}

p {
  line-height: 1.7;
}

figure {
  margin-block-end: 1.5rem;
}

/* card styles */
.card__container {
  width: min(90%, 58.125rem);
  margin-inline: auto;
  margin-block: var(--space-3xl);
}

.card {
  max-width: 20.625rem;
  padding: var(--space-l);
}

.card__title {
  font-size: var(--step-4);
  font-weight: var(--fw-700);
  font-family: var(--ff-big-shoulders-display);
  color: var(--clr-neutral-1);
  text-transform: uppercase;
  margin-block-end: 2.4rem;
}

.card__description {
  color: var(--clr-neutral-0);
  margin-block-end: 2rem;
}

/* change background color for each card */
.sedans {
  background-color: var(--clr-primary-0);
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.suvs {
  background-color: var(--clr-primary-1);
}

.luxury {
  background-color: var(--clr-primary-2);
  border-radius: 0 0 0.3125rem 0.3125rem;
}

/* button styles */
.button {
  --radius-lg: 2.5rem;
  display: inline-block;
  background-color: var(--clr-neutral-1);
  mix-blend-mode: screen;
  text-decoration: none;
  padding: var(--space-2xs) var(--space-s);
  text-transform: capitalize;
  border-radius: var(--radius-lg);
  border: 2px solid var(--clr-neutral-1);
  transition: 350ms ease-in-out;
}

.button:is(:hover, :focus-visible) {
  background-color: transparent;
  color: var(--clr-neutral-1);
}

[btn-sedans] {
  color: var(--clr-primary-0);
}

[btn-suvs] {
  color: var(--clr-primary-1);
}

[btn-luxury] {
  color: var(--clr-primary-2);
}

/* attribution */
.attribution {
  position: fixed;
  inset: auto auto 1em 1em;
  font-size: 0.75rem;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 50em) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block: 0;
  }

  .card__description {
    margin-block-end: 5rem;
  }

  .sedans {
    border-radius: 0.3125rem 0 0 0.3125rem;
  }

  .luxury {
    border-radius: 0 0.3125rem 0.3125rem 0;
  }

  .attribution {
    display: block;
  }
}
